<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="linkpara" value="https://gitlab.linktera.xyz/api/v4/projects/173/packages/nuget/index.json"  />
  </packageSources>

  <packageSourceCredentials>
    <linkpara>
      <add key="Username" value="%NUGET_USER%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </linkpara>
  </packageSourceCredentials>
</configuration>